.info {
  width: 100%;
  height: 235px;
  background-image: url(../img/bg-4.jpg);
  text-align: center;
}
.logo {
  float:left;
  margin-left:20px;
  margin-top: 21.5px;
}
.menu-burger {
  margin-right: 20px;
  float:right;
  margin-top: 20.5px;
}
.info .wrap{
  padding: 100px 45px 0;  
}
.info span{
  font-size: 24px;
  font-family: "Open Sans";
  color: rgb(255, 255, 255);
  line-height: 30px;
}
.fio {
  text-align: center;
}
.fio .wrap{
  padding: 50px 25px 0;
}
.fio span{
  font-size: 14px;
  font-family: "Open Sans";
  color: rgb(40, 54, 69);
  line-height: 30px; 
}
.fio form{
  margin-top: 35px;
  padding: 0px 20px;
}
.fio label,
.fio input{
  display: block;
}
.fio label{
  font-size: 14px;
  font-family: "Open Sans";
  color: rgb(210, 40, 86);
  text-align: left;
  margin-left: 23px;
  line-height: 30px;
  margin-bottom: 10px;
}
.fio input{
  width: 253px;
  height: 56px;
  font-size: 18px;
  font-family: "Open Sans";
  line-height: 30px;
  margin-bottom: 20px;
  padding-left: 21px;
}
 input::-webkit-input-placeholder {color:#283645; }
 input::-moz-placeholder          {color:#283645;}/* Firefox 19+ */
 input:-moz-placeholder           {color:#283645;}/* Firefox 18- */
 input:-ms-input-placeholder      {color:#283645;}
.achievements{
  background: #f2f2f2;
}
.achievements .wrap{
  text-align: center;
  padding: 40px 50px;
}
.achievements .wrap span,
.device .wrap span{
  font-size: 14px;
  font-family: "Open Sans";
  color: rgb(210, 40, 86);
  line-height: 18px;
}
.achievements form{
  padding-left: 20px;
}
.achievements input[type="checkbox"]{
  display: none;  
}
.achievements label{
  font-size: 18px;
  font-family: "Open Sans";
  color: rgb(40, 54, 69);
  line-height: 30px;
}
input[type=checkbox] + label span{
  display: inline-block;
  content: "";
  width: 37px;
  height: 37px;
  background: #fff;
  border: 2px solid #e5e5e5;
  vertical-align: bottom;
  margin-right: 30px;
  cursor:pointer;
}
.achievements input[type=checkbox]:checked +label span {
  background: #fff url(../img/icon-yes.png) no-repeat center;
}
.achievements .wrapper{
  line-height: 39px;
  display: block;
  height: 39px;
  padding-bottom: 44px;
}
.contact {
  padding: 35px 20px 30px;
}
.contact label{
  font-size: 14px;
  font-family: "Open Sans";
  color: rgb(210, 40, 86);
  text-align: left;
  margin-left: 23px;
  line-height: 30px;
  margin-bottom: 10px;
}
.contact input{
  width: 253px;
  height: 56px;
  font-size: 18px;
  font-family: "Open Sans";
  line-height: 30px;
  margin-bottom: 25px;
  padding-left: 21px;
}
.device{
  background: #f2f2f2;
}
.device .wrap {
  text-align: center;
  padding: 35px 70px;
}
.device .wrapper{
  line-height: 39px;
  display: block;
  height: 37px;
  padding-bottom: 40px;
}
.device form{
  padding-left: 20px;
}
.device input[type="radio"]{
  display: none;  
}
.device label{
  font-size: 18px;
  font-family: "Open Sans";
  color: rgb(40, 54, 69);
  line-height: 30px;
}
input[type=radio] + label span{
  display: inline-block;
  content: "";
  width: 37px;
  height: 37px;
  border-radius: 50%;
  background: #fff;
  border: 2px solid #e5e5e5;
  vertical-align: bottom;
  margin-right: 30px;
  cursor:pointer;
}
.device input[type=radio]:checked + label span {
  background: #fff url(../img/icon-dot.png) no-repeat center;
}
.opinion{
  text-align: center;
  margin-bottom: 20px;
}
.opinion .wrap span{
  font-size: 14px;
  font-family: "OpenSans";
  color: rgb(210, 40, 86);
  line-height: 30px;
}
.opinion .wrap{
padding: 55px 65px 15px;
text-align: center;
}
.opinion form{
  padding: 0 20px;
}
.opinion textarea{
  margin-bottom:  50px;
  width: 275px;
  height: 200px;
  font-size: 18px;
  font-family: "OpenSans";
  color: rgb(210, 40, 86);
  line-height: 30px;
}
textarea::-webkit-textarea-placeholder {color:#283645; }
textarea::-moz-placeholder          {color:#283645;}/* Firefox 19+ */
textarea:-moz-placeholder           {color:#283645;}/* Firefox 18- */
textarea:-ms-textarea-placeholder      {color:#283645;}
.opinion input[type="submit"]{
  width: 100%;
  height: 60px;
  margin-bottom: 40px;
  background: #2aab6d;
  color: #fff;
  font-size: 18px;
  font-family: "Open Sans";
  color: rgb(255, 255, 255);
  line-height: 30px;
  border-radius: 2px;
}
.opinion .wrapper span:nth-child(2){
  font-size: 14px;
  font-family: "Open Sans";
  line-height: 30px;
}
.opinion .wrapper span:first-child{
  color: rgb(210, 40, 86);
}
.footer{
margin-top:40px;
}
.footer .logo-footer{
  margin-bottom: 40px;
  text-align: center;
}
.footer .social{
  display: block;
  margin: 0 65px 35px;
}
.footer .circle{
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: 3px solid #e9ebec;
  display: inline-block;
  vertical-align: bottom;
  margin-right: 12px;
}
.footer .circle:last-child{
  margin-right: 0;
}
.footer .circle:first-child img{
  margin-left: 13.5px;
  margin-top: 15.5px;
}
.footer .circle:nth-child(2) img{
  margin-left: 18px;
  margin-top: 13.5px;
}
.footer .circle:nth-child(3) img{
  margin-left: 15px;
  margin-top: 16px;
}
.author{
  margin: 0 90px 45px;
  text-align: center;
}
.author img{
  vertical-align: bottom;
  margin-left: 15px;
}
.author span{
  font-size: 14px;
  font-family: "Open Sans";
  color: rgb(40, 54, 69);
  line-height: 34px;
}





















