.container {
  padding: 0 20px;
}

.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
}

.clearfix:after {
  clear: both;
}

.page-header {
  width: 100%;
  height: 440px;
  background: url(../img/iphone-hand.png) no-repeat 100% 170px,
              url(../img/bg-1.jpg) no-repeat 100% 100%;
}

.top-header {
  padding: 20px 20px;
  background-color:rgba(0, 0, 0, 0.3);
  position: relative;
}

.show-navigation .top-header {
  background: #283645;
  opacity: 1;
  padding: 20px 0 0;
  position: relative;
}

.show-navigation .menu {
  display: block;
  border-top: 1px solid #000;
}

.show-navigation .menu-burger {
  display: none;
}

.show-navigation .icon-close {
  display: inline-block;
  position: absolute;
  top:20px;
  right: 0;
}

.show-navigation .logo {
  padding-bottom: 20px;
  padding-left: 20px;
}

.logo {
  display: inline-block;
}

.page-title {
  font-size: 1.5em;
  margin: 0;
}

.click-logo {
  text-decoration: none;
  display: inline-block;
  height: 22px;
  font-size: 0;  
}

.header-navigation {
  display: inline-block;
}

.menu-burger {
  display: inline-block;
  height: 24px;
  width: 50px;
  opacity: 1;
  position: absolute;
  top:20px;
  right: 20px;
}

.strip-menu {
  content: "";
  display: block;
  width: 50px;
  height: 4px;
  background-color: #fff;
  margin-top: 6px;
  margin-bottom: 6px;
}

.menu-burger:after,
.menu-burger:before {
  content: "";
  display: block;
  width: 50px;
  height: 4px;
  background-color: #fff;
  opacity: 1;
}

.menu  {
  background: #283645;
  display: none;  
  list-style-type: none;
  width: 320px;
  padding-left: 0;
  margin: 0;
  text-align: center;
}



.menu .menu-item {
  border-bottom: 1px solid #000;
  border-top: 1px solid #485461;
  font-size: 18px;
  line-height: 32px;
  font-family: "Open Sans";
  color: rgb(255, 255, 255);
  font-weight: bold; 
  text-transform: uppercase;
  padding: 14px 0;
}

.icon-close {
  display: none;
  float: right;
  height: 20px;
  width: 20px; 
  position: relative;
}

.icon-close::before {
  content: "";
  display: inline-block;
  width: 24px;
  height: 4px;
  background: #fff;
  transform: rotate(-45deg);
  position: absolute;
  top: 8px;
  left: -20px;
}

.icon-close::after {
  content: "";
  display: inline-block;  
  width: 24px;
  height: 4px;
  background: #fff;
  transform: rotate(45deg);
  font-size: 0;
  position: absolute;
  top: 8px;
  left: -20px;
}

.download-app {
  text-align: center;
  width: 100%;
  background: #1d2631;
  padding-top: 28px;
}

.btn-download {
  text-decoration: none;
  display: inline-block;
  border-radius: 32px;
  border: 3px solid #fff;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  color:#fff;
  margin-bottom: 32px;
  padding: 20px 30px;
}

.devices {
  margin-bottom: 20px;
}

.devices-item {
  display: inline-block;
  width: 47px;
  height: 56px;
  padding-right: 32px;
}

.devices-item {
  display: inline-block;
  padding-right: 24px;
}

.devices-item {
  display: inline-block;
}

.info-download {
  font-size: 14px;
  font-family: "Open Sans";
  color: #fff;
  line-height: 24px;
  padding: 0 20px 40px;
}

.title {
  margin: 45px 50px 30px;
  color: #283645;
  font-weight: normal;
}

.title-item {
  margin-bottom: 40px;
  text-align: center;
  font-size: 24px;
  font-family: "Open Sans";
  color: rgb(40, 54, 69);
}


 .dignity {
  text-align: center;
}

.dignity-title {
  font-weight: bold;
  font-size: 18px;
  margin-top: 40px;
  
}

.dignity-content{
  font-family: "Open Sans";
  font-size: 14px;
}

.wrap {
  position: relative;
  background: #f2f2f2 url(../img/iphone.png) no-repeat 50% 510px;
  height: 745px;
  padding-top: 30px;
  
}

.sl-review {
  position: relative;
  margin: 0 auto;
  padding: 50px 20px 65px;
  margin-bottom: 90px;
}

.sl-review-controlles {
  position: absolute;
  width: 124px;
  height: 10px;
  left:50%;
  margin-left: -62px;
  bottom: 45px;
  text-align: center;
  z-index: 900;
}

.for-btn {
  display: inline-block;
  width: 6px;
  height: 6px;
  margin: 0 8px;
  background:#b5b9be;
  vertical-align: top;
  border-radius: 50%;
  border:3px solid #f2f2f2
}



#btn-1rev:checked ~ .reviews .review:nth-child(1) {
  display: block;
}
#btn-2rev:checked ~ .reviews .review:nth-child(2) {
  display: block;
}
#btn-3rev:checked ~ .reviews .review:nth-child(3) {
  display: block;
}


#btn-1rev:checked ~ .sl-review-controlles label[for="btn-1rev"],
#btn-2rev:checked ~ .sl-review-controlles label[for="btn-2rev"],
#btn-3rev:checked ~ .sl-review-controlles label[for="btn-3rev"] {
  background: #fff;
  border: 3px #283645 solid;
}

.review {
  background-color: #fff;
  font-size: 14px;
  font-family: "Open Sans";
  color: rgb(0, 0, 0);
  line-height: 30px;
  text-align: center; 
  display: none;
}

.title-review {
  display: block;
  font-weight: bold;
  font-size: 18px;
  padding-bottom: 20px;
}



.price {
  position: relative;
  background: #f2f2f2;
  padding: 100px 0 100px;
}

.price:before,
.wrap:before {
  content: "";
  background: url(../svg/triangle-white.svg);
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 40px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  z-index: 100;
}

.slider-controlles {
  position: absolute;
  width: 124px;
  height: 10px;
  left:50%;
  margin-left: -62px;
  bottom: 45px;
  text-align: center;
  z-index: 1000;
}



.slide {
  border:2px solid #e5e5e5;
  line-height: 30px;
  font-family: "Open Sans";
  color: rgb(255, 255, 255);
  display: none;
}

#btn-1pr:checked ~ .slides .slide:nth-child(1) {
  display: block;
}

#btn-2pr:checked ~ .slides .slide:nth-child(2) {
  display: block;
}

#btn-3pr:checked ~ .slides .slide:nth-child(3) {
  display: block;
}

.btn-item {
  position: absolute;
  opacity: 0;
}

.slide-title {
  position: relative;
  background: #283645;
  text-align: center;
}

.sale{
  position: absolute;
  left:0;
  top:0;
  z-index: 10;
}

.slide-title span {
  display: block;
}  

.slide-name {
  font-size: 18px;
  font-weight: bold;
  padding-top: 19px;
}

.package-price {
  font-size: 24px;  
  padding-bottom: 17px;
}

.slide-item {
  height: 60px;
  padding:0 15px;
  background: #fff;
}

.slide-item .yes {
  float: right;
  width: 31px;
  height: 16px;
  border-bottom: 4px solid #3dc644;
  border-left: 4px solid #3dc644;
  transform: rotate(-45deg);
  margin-top: 14px;
}

.slide-item .no1 {
  float: right;
  width: 19px;
  height: 19px;
  border-bottom: 4px solid #f25b26;
  border-right: 4px solid #f25b26;
  transform: rotate(-45deg);
  margin-top: 14px;
  margin-right: 4px;
}

.slide-item .no2 {
  float: right;
  width: 19px;
  height: 19px;
  border-bottom: 4px solid #f25b26;
  border-left: 4px solid #f25b26;
  transform: rotate(45deg);
  margin-top: 14px;
  margin-right: -10px;
}

.slide-item:nth-child(3),
.slide-item:nth-child(2) {
  border-bottom: 2px solid #e5e5e5;
}

.service {
  font-size: 14px;
  line-height: 60px;
  color: #000;
}

#btn-1pr:checked ~ .slider-controlles label[for="btn-1pr"],
#btn-2pr:checked ~ .slider-controlles label[for="btn-2pr"],
#btn-3pr:checked ~ .slider-controlles label[for="btn-3pr"] {
  background: #fff;
  border: 3px #283645 solid;
}

.package-name {
  font-size: 18px;
  font-weight: bold;
  padding-top: 19px;
  padding-bottom: 0px;
}

.package-price {
  font-size: 24px;  
  padding-bottom: 17px;
}

.contact span {
  display: block;
  font-family: "Open Sans";
}

.lookfor-us {
  text-align: center;
  padding-top: 60px;
}

.contact {
  padding-bottom: 40px;
}
.contact-title {
  font-size: 24px;
  color: rgb(0, 0, 0);
  line-height: 36px;
  font-weight: normal;
}

.contact-tel-title,
.contact-mail-title,
.contact-adress-title {
  font-weight: bold;
  font-size: 18px;
  padding-bottom: 10px;
  line-height: 18px;
}

.contact-adress,
.contact-mail,
.contact-tel {
  color: #d22856;
  padding-bottom: 24px;
  font-size: 24px;
  font-weight: normal;
  line-height: 24px;
}


.contact-title span:nth-child {
  padding-bottom: 30px;
}

.contact-adress {
  padding-bottom: 0;
}

.map {
  position: relative;
}

.map:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 17%;
  background-image: url(../svg/bg-white-mask.svg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  z-index: 100;
}
/*
.map:after{
  content: "";
  position: absolute;
  top: 145px;
  left: 170px;
  display: block;
  width: 36px;
  height: 36px;
  background-image: url(../svg/map-marker.svg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}*/

